includes ./helper.jade
extends ./ex.jade
doctype html
html
  head
    title 漢字標題
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(http-equiv="content-type" content="text/html" charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge;chrome=1;")
    meta(name="HandheldFriendly" content="true")

  body
    + print_arr(['title', 'cpu', 'ram', 'test'])

    + print_arr(['index', 'vec', 'javascript'])
