<!doctype HTML>
<html>
<head>
	<title><%= article.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1;" />
	<meta name="HandheldFriendly" content="true" />
	<% include public/app-icon %>
	<link rel="stylesheet" media="all" href="/han/han.css">
	<link rel="stylesheet" href="/style/article.css" />
</head>
<body>
	<div class="page-shadow"></div>
	<div class="top-block">
		<div class="top page-btn-panel">
		</div>
		<div class="article-details">
			<div class="title"><%= article.title %></div>
			<time><%= article.date.toLocaleDateString() %></time>
		</div>
	</div>
	<article id="article" class="article">
		<%- article.format %>
	</article>

		<div class="page-jumper-frame">
			<div class="page-jumper-content">
				<div class="jumper-triangle"></div>
				<ul class="page-select-list">
				</ul>
			</div>
		</div>
		<div class="page-jumper-bg"></div>

	<script src="/han/han.min.js"></script>
	<script>
	try {
		var titleHan = Han(document.querySelector('.title')).render();
	} catch (e) {}
	</script>
	<script type="text/javascript" src="/script/gro.js"></script>
	<script type="text/javascript" src="/admin/script/pam-event.js"></script>
	<script type="text/javascript" src="/admin/script/vools.js"></script>
	<script type="text/javascript" src="/script/pam-ext.js"></script>
	<style>
	section.footnotes {
		display: block
	}
	</style>
</body>
</html>
