<!doctype HTML>
<html>
<head>
	<title>
		<% try { %>
			<%= title %>
		<% } catch (e) { %>
			 PacheError
		<% } %>
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1;" />
	<meta name="HandheldFriendly" content="true" />
	<% include public/app-icon %>
	<link rel="stylesheet" href="/style/article.css" />
</head>
<body>
	<% include public/pae-header %>
	<div class="title">
		<% try { %>
			<%= articleTitle %>
		<% } catch (e) { %>
			 啊噢
		<% } %>
	</div>
	<article>
		<div class="error-message">
			<%= message %>
			<div><a href="/">返回首页</a></div>
		</div>
	</article>
	<div class="info">
		<pre><code><%= err.stack %></code></pre>
	</div>
</body>
</html>
