@torzo-blue: hsl(201, 47%, 35%);
@big-font-family: "Noto Sans CJK SC", "Source Han Sans CN", courier, "Microsoft JhengHei", DengXian, "微软雅黑", "黑体";
@normal-font-family: @big-font-family;
@small-font-family: @big-font-family;
@message-font-family: "ISOCPEUR", Courier, @small-font-family;

.hide {
	display: none;
}

html, body {
}
