@import "base.less";

@pache-article-line-height: 1.8em;

body, html {
	padding: 0;
	margin: 0;
}
body {
	margin-bottom: 38.2vh;
}

.title {
	margin: 2em 0;
	font-size: 1.75em;
	text-align: center;
	color: @pache-color;
	font-family: @title-font;
}

@article-space: 1.5em;
article, .info {
	margin: auto;
	padding: 0 @article-space;
	color: @pache-color;
	width: calc(~"100%" - @article-space + @article-space);
	font-size: 1em;
	font-family: @pache-article-font-family;
}

.error-message {
}

.info {
	pre code {
		display: block;
		margin: auto;
		padding: 0;
		width: 100%;
		color: #566;
		font-size: 12px;
		font-family: consolas, Courier;
	}
}

article {
	hr {
		border: 0;
		height: 1px;
		background: linear-gradient(to right, #AAA, @torzo-blue, transparent);
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 2em;
		color: @pache-color;
	}

	.justify-text {
		text-align: justify;
		text-justify: inter-ideographic;
	}
	p {
		line-height: @pache-article-line-height;
	}
	pre.text-type, p, li {
		.justify-text;
	}
	ul, ol {
		padding: 1em 0em 1em 1em;
		> li {
			list-style-position: outside;
		}
	}
	blockquote {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	code {
		font-family: ISOCPEUR, Consolas, courier, "Noto Sans CJK SC", "Source Han Sans CN", "Microsoft JhengHei", DengXian, "微软雅黑", "黑体";
		background: #f1f1f1;
		padding: 0 0.2em;
	}

	pre.text-type {
		word-wrap: break-word;
		word-break: break-all;
		white-space: pre-wrap;

		line-height: @pache-article-line-height;
		font-family: @pache-article-font-family;

		code {
			font-family: @pache-article-font-family;
			padding: 0;
			background: transparent;
		}
	}

	pre code[class] {
		display: block;
		padding: 1em 0.5em;
		border-radius: 4px;
		font-family: Consolas, courier;
		background: hsla(201, 47%, 35%, 0.1);
	}

	img {
		display: block;
		margin: auto;
		max-width: 100%;
		max-height: 80vh;
		box-shadow: 0px 0px 4px #bbb;
	}
}
@media screen and (min-width: 400px) {
	article, .info {
		padding: 0;
		width: 760px;
		font-size: 1.2em;
	}
	article {
		ul, ol {
			padding: 1em 2.5em;
			> li {
				list-style-position: outside;
			}
		}
	}
}
@media screen and (max-width: 400px) {
	article, .info {
		font-size: 1.1em;
	}
}
@media screen and (max-width: 360px) {
	article, .info {
		font-size: 1em;
	}
}
