@import "base.less";

body, html {
	padding: 0;
	margin: 0;
}
body {
	margin-bottom: 38.2vh;
}

.title {
	margin: 2em 0;
	font-size: 2.5em;
	text-align: center;
	color: @torzo-blue;
	font-family: @title-font;
}

article, .info {
	margin: auto;
	color: #344;
	width: 760px;
	font-size: 1.1em;
	font-family: "Noto Sans CJK SC", "Source Han Sans CN", courier, "Microsoft JhengHei", DengXian, "微软雅黑", "黑体";
}

.error-message {
}

.info {
	pre code {
		display: block;
		margin: auto;
		padding: 0;
		width: 760px;
		color: #566;
		font-size: 12px;
		font-family: consolas, Courier;
	}
}

article {
	hr {
		border: 0;
		height: 1px;
		background: linear-gradient(to right, #AAA, @torzo-blue, transparent);
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 2em;
		color: @torzo-blue;
	}

	p {
		line-height: 1.8em;
	}

	blockquote {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	code {
		font-family: ISOCPEUR, Consolas, courier, "Noto Sans CJK SC", "Source Han Sans CN", "Microsoft JhengHei", DengXian, "微软雅黑", "黑体";
		background: #f1f1f1;
		padding: 0 0.2em;
	}

	pre {
		word-wrap: break-word;
		word-break: break-all;
		white-space: pre-wrap;
	}

	pre code[class] {
		display: block;
		padding: 1em 0.5em;
		border-radius: 4px;
		font-family: Consolas, courier;
		background: hsla(201, 47%, 35%, 0.1);
	}

	img {
		display: block;
		margin: auto;
		max-width: 100%;
		max-height: 80vh;
		box-shadow: 0px 0px 4px #bbb;
	}
}
