@torzo-blue: hsl(201, 47%, 35%);
@title-font: "Noto Sans CJK SC", "Source Han Sans CN", courier, "Microsoft JhengHei", DengXian, "微软雅黑", "黑体";

.local:not(.error):hover {
}
.local {
	margin: 0 .382em 0 0em;
	padding: 0;

	width: 2.5em;

	font-family: ISOCPEUR,  "Noto Sans CJK SC", "Source Han Sans CN", courier, "Microsoft JhengHei", DengXian, "黑体";
	color: grey;
	text-align: center;

	cursor: pointer;

	transition-property: text-shadow, color;
	transition-duration: .618s;
}

.error {
	background: hsl(0, 50%, 50%);
	color: #f1f1f1;
}

header {
	display: inline-flex;
	align-content: center;
	align-items: center;

	display: -webkit-inline-flex;
	-webkit-align-content: center;
	-webkit-align-items: center;

	width: ~"calc(100% - 1em)";
	margin: 1em 0em 1em 1em;

	> *:not(.local):hover {
		border-bottom-color: #D7D7D7
	}
	> * img {
		height: 100%;
	}
	> *:not(.local) {
		height: 1.5em;
	}
	> * {
		color: @torzo-blue;
		background: transparent;
		text-decoration: none;
		margin: 0 .382em 0 .382em;
		padding: 1px .5em 1px .5em;
		font-family: consolas, "Noto Sans CJK SC", "Source Han Sans CN", courier, "Microsoft JhengHei", DengXian, "黑体";
		font-weight: bold;

		border: 1px solid transparent;
		transition-property: border-color;
		transition-duration: .182s;

		height: 100%;
		line-height: 16px;
		font-size: 16px;
		display: flex;
		align-content: flex-end;
		align-items: flex-end;
		justify-content: center;

		display: -webkit-flex;
		-webkit-align-content: flex-end;
		-webkit-align-items: flex-end;
		-webkit-justify-content: center;
	}
	.current {
		background: #f1f1f1;
	}
}
