@import "base.less";

/*
	使用 Sofia Pro 的 WebFont
	use "Sofia Pro" WebFont

	links: https://www.fontspring.com/fonts/mostardesign/sofia-pro/sofia-pro-light
 */
@font-face {
	font-family: 'sofia_prolight';
	src: url('/font/sofiapro-light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@page-code-height: 1.6em;
@list-space-height: 3em;

html {
	height: 100%;
}
body, html {
	position: relative;
	padding: 0;
	margin: 0;
	min-height: 100%;
}
.title {
	position: relative;
}
.title a {
	font-size: 1.75em;
	font-family: sofia_prolight, @pache-title-link-font-family;
	text-decoration: blink;
	color: @pache-title-color;

	.border-direct(top, @set) { border-top: @set }
	.border-direct(bottom, @set) { border-bottom: @set }
	.border-direct(left, @set) { border-left: @set }
	.border-direct(right, @set) { border-right: @set }
	.border(@direct, @set: 2px solid @pache-grey) {
		.border-direct(@direct, @set)
	}
	&:hover:before, &:hover:after {
		opacity: 1;
		height: .8em;
		width: .5em;
	}
	&:before, &:after {
		opacity: 0;
		transition-delay: .382s;
		transition-property: height width opacity;
		transition-duration: .382s;
		width: 0em;
		height: 0em;

		position: absolute;
	}
	&:before {
		content: " ";
		left: -.5em;
		top: -.3em;

		.border(top);
		.border(left);
	}
	&:after {
		content: " ";
		right: -.5em;
		bottom: -.3em;

		.border(bottom);
		.border(right);
	}
}
.time {
	font-family: @pache-time-label-font-family;
	color: @pache-time-label-color;
}

body > .list {
	> li {
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		margin: 2.5em 0;
		text-align: center;
	}

	list-style: none;
	list-style-type: none;
	margin: auto;

	padding: @list-space-height .5em calc(@list-space-height + @page-code-height);
}

.pagecode {
	.flex-frame(center, flex-end);
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;

	.current {
		background: @pache-color;
		color: azure;
		box-shadow: 0px 0px 1px @pache-color;

		transition: box-shadow .618s;

		padding: 0.25em .5em 0.1em;

		&:hover {
			box-shadow: 0px 0px 8px @pache-color;
		}
	}
	> *:not(.current):hover {
		color: hsl(174, 100%, 29%);
	}

	> * {
		.flex-frame();

		margin: 0em .5em 0em;
		padding: 1em .5em 0.1em;

		min-width: 24px;

		text-decoration: none;
		font-family: ISOCTEUR, Arial;
		font-weight: 300;

		background: transparent;
		color: grey;

		border-top-left-radius: 4px;
		border-top-right-radius: 4px;

	}
	&:not(.current):hover {
		color: hsl(174, 100%, 29%);
	}
}

// 大于 800px 的设备
@media screen and (min-width: 800px) {
	.list {
		width: ~"calc(18em * 2.5)";
	}
	.title a { font-size: 2.5em }
	.time { font-size: medium }
}

// (360px 以上，但小于 800px)的设备
@media screen and (max-width: 800px) and (min-width: 360px) {
	body > .list {
		padding: @list-space-height 1.5em calc(@list-space-height + @page-code-height);
	}
	.time { font-size: small }
}

// 360px 以下的设备
@media screen and (max-width: 359px) {
	.time { font-size: small }
}
