@import "base.less";

.jack, .split, .initial-split {
  &:not(.slidedowned) {
    transition-timing-function: ease !important;
  }
  &.slidedowned {
    transition-timing-function: ease !important;
  }
}
.debug .jack {
  background: grey !important;
  width: 1px !important;
}
.jack {
  display: inline-block;
  vertical-align: text-top;
  // vertical-align: top;
  // vertical-align: 100%;
  // height: 1.8em;
  width: 0px;
  transition-property: height;
  transform: translate3d(0, 0, 0);
}
.footnote-ref {
  transition-property: height;
  // vertical-align: unset;
  vertical-align: 0px;
  font-size: 1em;
  line-height: 0em !important;

  position: relative;


  &.split-on a:link {
    color: hsl(212, 50%, 50%);
  }
  a {
    &:link {
      text-decoration: none;
      color: #777;
    }

    vertical-align: 3px;
    font-size: .9em;

    transition: color 382ms;
  }
}

.split, .initial-split {
  display: inline-block;
  position: absolute;
  transition: height 618ms;
  overflow: hidden;
  height: 0px;

  background: rgba(128, 128, 128, 0.18);
  // transform: translateY(1.8em);

  &:before { top: -2px }
  &:after { top: 100% }
  &:before, &:after {
    content: '　';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    box-shadow: 0px 0px 6px #BDC0BA;
  }
}

.split-content, .initial-content {
  & > *:first-child { margin-top: 0; padding-top: 0 }
  & > *:last-child { margin-bottom: 0; padding-bottom: 0; }
  // position: absolute;
  // bottom: 0;
  padding: 1.5em 3.5em;

  line-height: 1.5em;
  letter-spacing: 0.15em;
  text-align: justify;
  font-size: .8em;
  color: @pache-color;
  text-shadow: 0px .8px 0px rgb(245, 245, 245);

}

@media screen and (min-width: 800px) {
  // .split-content, .initial-content {
  //   padding: 1.5em ~"calc(50vw - (760px / 2))";
  // }
}

.initial-split {
  width: 100vw;

  display: block;
  position: relative;
}
.initial-split + .initial-p {
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 800px) {
  .split-content {
    font-size: .85em;
    width: 760px;
    // padding: ~"0em calc(50% - 760px/2)";
    // padding: ~"0em 380px";
  }
}
