.page {
	transform-origin: center top;

	width: 100%;
	padding: 0em 1.5em 5em;

	transition-duration: 618ms;
	transition-property: transform, opacity, left, top, bottom, height, margin-top;


	box-sizing: border-box;
}
