@import "base.less";
/* split-layer 相关 */
sup, a {
	z-index: 9;
}
#article sup a[id^="fnref"] {
	line-height: 0px;
	vertical-align: top;
	transition: height .618s;
	height: 2em;
}
//修正 han-css 造成的间隙
h-hws[hidden] + sup {
	//margin-left: -.25em;
}

#article sup {
	vertical-align: top;
	line-height: 2em;
	top: .5em;
	display: inline-flex;
	align-content: flex-start;
	align-items: flex-start;
	justify-content: flex-start;
}
#article sup, .split-layer .sl-content-frame {
	transition-duration: .618s;
}
* {
	//transform: rotate3d(0, 0, 0);
}
.split-layer {
	display: none;
	position: absolute;

	&, .sl-bg, .sl-content-frame {
		top: 0;
		left: 0;
		width: 100%;
	}
	.sl-bg {
		position: fixed;
		height: 100%;
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
	}
	.sl-content-frame {
		position: absolute;
		overflow: hidden;
		height: 0px;
		background-color: hsl(0, 0%, 95%);
		transition-property: height;

		&:before { top: -2px }
		&:after { top: 100% }
		&:before, &:after {
			content: '　';
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			box-shadow: 0px 0px 4px #BBB;
		}
		.sl-content{
			position: relative;
			margin: auto;
			padding: 1em 3.5em;
			line-height: 1.5em;
			letter-spacing: 0.15em;
			text-align: justify;
			font-size: .618em;
			color: @pache-color;
			text-shadow: 0px 1px 0px white;
			overflow: hidden;
		}
		@media screen and (min-width: 800px) {
			.sl-content {
				width: 760px;
				font-size: .85em;
			}
		}
	}
}
