@import "base.less";

.page-btn-panel {
	&.top {
		.flex-frame(center, flex-start);
		display: flex;
		display: -webkit-flex;
		.page-btn {
			border: 0;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			outline: none;
		}
		.page-btn:not(.next):not(.previous) {
			box-shadow: 0px 1px 1px #BBB;
		}
	}
	&.bottom {
		.flex-frame(center, flex-end);
		display: flex;
		display: -webkit-flex;
		.page-btn {
			border: 0;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			box-shadow: 0px -1px 1px #BBB;
		}
	}
	width: 100%;
	font-size: 16px;
	height: 28px;

	/*
	position: absolute;
	bottom: 0;
	width: 100%;
	*/

	.previous, .next {
		font-size: 16px;
		height: 90%;
		padding: 0 .75em;
		font-family: monospace, courier !important;
	}

	@button-shadow-offset: 1px;
	.page-btn:active {
		background: hsl(240, 9%, 45%) 80%;
		text-shadow: 0px @button-shadow-offset 0px @pache-color;
	}
	.page-code {
		padding: 0 .618em 0;
		min-width: 32px;
		height: 100%;
		text-align: center;
		width: calc(4em - 2em);
		font-size: 16px;
		font-family: Arial, @pache-article-font-family !important;
	}
	.page-btn:not(.page-code) {
		//height: 20px;
	}
	.next, .previous {
		background: transparent;
		font-weight: 600;
		opacity: .618;
		color: @pache-color;
	}
	.page-btn:not(.next):not(.previous) {
		color: azure;
		background: #3a3a45;
		text-shadow: 0px -@button-shadow-offset 0px @pache-color;
	}
	.page-btn {
		outline: none;
		position: relative;
		margin: 0 .5em;


		//background: -webkit-linear-gradient(top, hsl(240, 9%, 45%), @pache-color 80%);
		font-family: courier;
		//line-height: 1em;

		cursor: pointer;

		.flex-frame(center, center);
	}
}
/* split-page 分頁后，會給 article 元素加上 .split 類 */
/*
.article:not(.splited) {
	padding: 1em 1.5em 0em;
}
.article:not(.splited) {
	width: ~"calc(100% - 1.5em - 1.5em)";
}
.splited .page {
	padding: 1em 1.5em 0em;
}
*/
.page {
	opacity: 0;
	position: fixed;
	top: 1em;

	transform: scale(1);
	transform-origin: center top;

	width: ~"calc(100% - 1.5em - 1.5em)";
	padding: 1em 1.5em 0em;

	transition-duration: .618s;
	transition-property: transform, opacity, left, top, height;
	background: white;
}

.current-page {
	transform: scale(1);
	opacity: 1;
	left: 0;
	top: 0;
}

.solid-page {
	position: relative;
}
