@import "base.less";
/* split-layer 相关 */
#article a.footnote-ref {
	line-height: 0px;
}
//修正 han-css 造成的间隙
h-hws[hidden] + sup {
	//margin-left: -.25em;
}
sup.footnote-ref[status="open"] [id^="fnref"]:before {
	background: @torzo-blue;
	border-color: transparent;
}
sup.footnote-ref {
	top: -.25em;
	margin-left: -.5px;
}

@media print {
	[id^="fnref"]:after {
		content: attr(sup-text);
		position: relative;
		top: -.5em;
	}
}
@media not print {
	[id^="fnref"]:before {
		content: " ";
		position: relative;
		color: slategrey;
		border: 1px solid #ccc;
		border-radius: 999px;
		width: 1em;
		height: 1em;

		.flex-frame;

		align-content: center;
		vertical-align: middle;
		margin: 0 .1em;
		transition: background .618s, border-color .618s;
	}
}

#article sup {
	vertical-align: top;
	line-height: 0px;
	transition: line-height .618s;
}
.split-layer {
	margin: 0;
	padding: 0;
}
.split-layer .split-content *:empty{
	margin-top: 0;
	padding-top: 0;
}
.split-layer .split-content *:first-child{
	margin-top: 0;
	padding-top: 0;
}
.split-layer .split-content *:last-of-type{
	margin-bottom: 0;
	padding-bottom: 0;
}
.split-layer .split-content{
	margin: auto;
	padding: .5em;

	border-top: 1px dotted rgba(0, 0, 0, 0.182);
	border-bottom: 1px dotted rgba(0, 0, 0, 0.182);

	line-height: 1.5em;
	letter-spacing: 0.1em;
	text-align: justify;
}
.grey-area {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.618);
}

@media screen and (min-width: 800px) {
	.split-content {
		width: 760px;
	}
}
