<header>
	<div class="local">
		<a href="/">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="28" height="32" >
				<g>
					<polyline style="stroke:hsl(201,47%,35%);stroke-width:1.5"
						points="3,3 3,29"></polyline>

					<polyline style="stroke:hsl(201,47%,35%);stroke-width:1.5; fill: transparent;"
						points="3,12.932 13,3 23,12.932 23,29"></polyline>

					<polyline style="stroke:hsl(201,47%,35%);stroke-width:1.5; fill: transparent;"
						points="13,29 13,12.684"></polyline>
				</g>
			</svg>
		</a>
	</div>
	<div class="tags">
		<a href="/tag/Programming">&lt;/&gt;</a>
		<a href="/tag/Life"><img src="/coffee.png" /></a>
	</div>
	</div>
</header>
