<% if (!Array.isArray(tags)) { tags = [] } %>
<div class="pagecode">
<%
let countPage = Math.ceil(count / limit),
	cursor = page - 2,
	right = page + 2;

if (cursor <= 0){
	right += Math.abs(cursor) + 1;
	cursor = 1;
}

if (right > countPage){
	cursor -= Math.abs(right-countPage);
	if (cursor <= 0){
		cursor = 1;
	}
	right = countPage;
}


for (; cursor<=right; ++cursor){
	if ( page === cursor ){
		%>
		<a class="current"><%= cursor %></a><%
	} else {
		if (tags.length){
			var tagHref = '/tag/' + tags.join(',') + '/';
		} else {
			var tagHref = '';
		}
		%>
		<a href="/<%= cursor %><%= tagHref %>"><%= cursor %></a><%
	}
}
%>
</div>
